<div>
    <button class= 'music-card'>
    <img src="<%= content.song_art.cover_medium || content.album_art.cover_medium %>" alt="<%= content.name %>">
    <button class="music-card-play ">Play</button>

    </button>
    <div>
        <h3><%= content.title %></h3>
        <h4><%= content.artist %></h4>
    </div>
    <button data-id="<%= content._id %>" onclick="" ><i class="fa-solid fa-plus"></i></button>
</div>

<!-- Compare this snippet from music-board/views/partials/card.ejs: -->
<!-- <div>
 -->