<div>
    <button class= 'music-card'>
        <img src="<%= content.song_art.cover_medium || content.album_art.cover_medium %>" alt="<%= content.name %>">    <button class="music-card-play ">Play</button>

    </button>
    <div>
        <h3><%= content.title %></h3>
        <h4><%= content.name %></h4>
    </div>
    <button data-id="<%= content._id %>" onclick='' ><i class="fa-solid fa-trash-can"></i></button>
</div>

