<div>
    <button class= 'music-card'>
    <img src=<%= content.image%> alt=<%= content.name%>>
    <button class="music-card-play ">Play</button>

    </button>
    <div>
        <h3><%= content.name %></h3>
        <h4><%= content.name %></h4>
    </div>
    <button data-id=<%= content._id %> onclick='' ><i class="fa-solid fa-plus"></i></button>
</div>

